.center
  width: 480px        
  margin: 0 auto

.hidden
  display: none

.questions
  .question
    padding: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    margin: 5px

.item
  clear: both
  font-size: 1.1em
  font-weight: bold
  padding: 5px                
  .input, .radio
    float: right
    clear: both                

.binary, .open
  display: inline
  clear: both         
.even, .odd
  padding: 15px       
.even
  background: #dda
.odd
  background: #ada                      

.title
  input
    font-size: 1.2em