!!!
%html
  %head
    %title Cure your ADHD (not evaluated  by the FDA)
    = stylesheet_link_tag 'aidhd', 'mint'
    = javascript_include_tag 'aidhd.js'

    :javascript
      var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
      document.write(unescape("%3Cscript src='" + rpxJsHost +                                                                                       
      "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';

  %body
    %script( src="http://www.google.com/jsapi" )
    :javascript
      // Load jQuery
      google.load("jquery", "1.4.2");
      google.load("jqueryui", "1.8");
      
      google.setOnLoadCallback(function() {
      aidhd.init();
      });

    .center
      - unless @current_user
        = render :partial => 'layouts/login'
      - else
        = yield